#balance-fab {
	color:white;
	font-size:10px;
}
#transbutton {
    background-color:#04AC37;
    color:white;
    float:right;
    margin-top:-2.8em;
    font-size:10px;
}
#transaction-fab {
    color:white;
    font-size:10px;
}
