<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="6" size-md="6" offset-md="3" size-sm="12">
        <ion-list *ngIf="attendance">
          <ion-card *ngFor="let item of attendance">
            <ion-item [color]="item.at_cat == 'E' ? 'secondary' : 'danger'">
              <ion-label>
                {{ 'RECORDS.CATEGORY' | translate }}: {{ item.at_cat }}
                <br />
                {{ 'RECORDS.QUARTER' | translate }}: {{ item.at_qtr }}
                <br />
                {{ 'RECORDS.REASON' | translate }}: {{ item.calc_cat }}
                <br />
                {{ 'GLOBAL.DATE' | translate }}: {{ item.calc_date }}
                <br />
                {{ 'RECORDS.DAY' | translate }}: {{ item.calc_day }}
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-list>

        <ion-list *ngIf="discipline">
          <ion-card *ngFor="let item of discipline">
            <ion-item [color]="item.ds_cat == 'L' ? 'secondary' : 'danger'">
              <ion-label>
                {{ item.ds_cat }}: {{ item.calc_cat }}
                <br />
                {{ 'GLOBAL.DATE' | translate }}: {{ item.calc_date }}
                <br />
                {{ 'RECORDS.TEACHER' | translate }}: {{ item.calc_teacher }}
                <br />
                {{ 'RECORDS.REASON' | translate }}: {{ item.calc_comment }}
                <br />
                {{ 'RECORDS.QUARTER' | translate }}: {{ item.ds_qtr }}
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
