<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="!selected">
      {{ 'STAFF.name' | translate }}
    </ion-title>
    <ion-title *ngIf="selected">
      {{ selected.calc_name }}
    </ion-title>
    <ion-buttons right [hidden]="selected">
      <button ion-button (click)="toggleSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-toolbar
    no-border-top
    color="secondary"
    [@expand]="toggled"
  >
    <ion-searchbar
      [(ngModel)]="search"
      (ionInput)="doSearch()"
      [placeholder]=" 'STAFF.name' | translate "
    ></ion-searchbar>
  </ion-toolbar>

  <ion-grid>
    <ion-row>
      <ion-col col-12 col-lg-6 col-md-6 offset-md-3 col-sm-12>
        <ion-list *ngIf="!selected">
          <!--<ion-card>-->
            <ion-item detail-push (click)="goSelected(item)" *ngFor="let item of filteredStaff">
              <b>{{ item.calc_status }}: </b> {{ item.calc_name }}
            </ion-item>
          <!--</ion-card>-->
        </ion-list>

        <ion-card *ngIf="selected">
          <ion-card-header>
            {{ selected.calc_name }} | {{ selected.calc_status }}
          </ion-card-header>
          <ion-item text-wrap color="secondary">
            <ion-row color="secondary" [hidden]="!selected.calc_phone">
              <b ion-col>
                {{ 'STAFF.cellphone' | translate }}:
              </b>
              <a ion-col href="tel:{{ selected.calc_phone }}">
                {{ selected.calc_phone }}
              </a>
            </ion-row>
            <ion-row [hidden]="!selected.calc_homephone">
              <b ion-col>
                {{ 'STAFF.homephone' | translate }}:
              </b>
              <a ion-col href="tel:{{ selected.calc_homephone }}">
                {{ selected.calc_homephone }}
              </a>
            </ion-row>
            <ion-row [hidden]="!selected.calc_email">
              <b ion-col>
                {{ 'STAFF.email' | translate }}:
              </b>
              <a ion-col href="mailto:{{ selected.calc_email }}">
                {{ selected.calc_email }}
              </a>
            </ion-row>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
