<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>{{ 'PROFILE.NAME' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="5" offset-lg="1">
        <ion-card>
          <ion-item color="medium">
            <ion-grid>
              <ion-row>
                <ion-col size="5" size-md="4" size-lg="3">
                  <ion-avatar>
                    <img [src]="personImage" />
                  </ion-avatar>
                </ion-col>

                <ion-col size="7" size-md="8" size-lg="9" class="person-col">
                  <span class="person">
                    {{ studentName }}
                    <br />
                    {{ birth }}
                    <span [hidden]="!grade">
                      <br />
                      {{ grade }}
                      <sup>
                        {{ 'PROFILE.TH' | translate }}
                      </sup>
                      &nbsp;
                      {{ 'PROFILE.GRADE' | translate }}
                    </span>
                  </span>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>

          <ion-item>
            <ion-icon name="person" color="dark" slot="start"></ion-icon>
            <ion-label>{{ 'PROFILE.STUDENT_CREDIT' | translate }}</ion-label>
            <ion-badge
              [color]="studentCredit ? 'success' : 'danger'"
              slot="end"
            >
              {{ studentCredit | currency: 'USD':'symbol':'1.2-2' }}
            </ion-badge>
          </ion-item>

          <ion-item>
            <ion-icon name="people" color="dark" slot="start"></ion-icon>
            <ion-label>{{ 'PROFILE.FAMILY_CREDIT' | translate }}</ion-label>
            <ion-badge [color]="familyCredit ? 'success' : 'danger'" slot="end">
              {{ familyCredit | currency: 'USD':'symbol':'1.2-2' }}
            </ion-badge>
          </ion-item>

          <ion-item (click)="goSelected({ attendance: attendance })">
            <ion-icon name="alarm" color="dark" slot="start"></ion-icon>
            <ion-label>{{ 'RECORDS.ATTENDANCE' | translate }}</ion-label>
            <ion-badge color="primary" slot="end">
              {{ attendance.length }}
            </ion-badge>
          </ion-item>

          <ion-item (click)="goSelected({ discipline: discipline })">
            <ion-icon
              name="checkmark-circle"
              color="dark"
              slot="start"
            ></ion-icon>
            <ion-label>{{ 'RECORDS.DISCIPLINE' | translate }}</ion-label>
            <ion-badge
              [color]="discipline.length ? 'danger' : 'success'"
              slot="end"
            >
              {{ discipline.length }}
            </ion-badge>
          </ion-item>
        </ion-card>

        <ion-card class="card-fab">
          <ion-fab-button class="fab-top-right" (click)="toggleMissing()">
            {{ missing.length }}
          </ion-fab-button>
          <ion-card-header>
            {{ 'PROFILE.MISSING_ASSSIGNMENTS' | translate }}
          </ion-card-header>
          <ion-list>
            <ion-item
              text-wrap
              *ngFor="let item of missing"
              [@expand]="showMissing"
              class="alternate-colors"
            >
              <ion-label>
                {{ item.calc_date }}
                <br />
                <strong>{{ item.calc_class }}: </strong>
                {{ item.gra_name }}
                <br />
                <strong>{{ 'PROFILE.WORTH' | translate }}: </strong>
                {{ item.gra_points }} {{ 'PROFILE.POINTS' | translate }}
              </ion-label>
              <ion-checkbox color="primary"></ion-checkbox>
            </ion-item>
          </ion-list>
          <ion-item color="secondary" (click)="goGrades()">
            <ion-label>
              {{ 'PROFILE.CHECK_GRADES' | translate }}
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col size-lg="5" size-md="6" size-sm="12" size="12">
        <ion-card class="card-fab">
          <ion-fab-button class="fab-top-right" (click)="toggleSchedule()">
            <ion-icon name="swap"></ion-icon>
          </ion-fab-button>

          <ion-card-header>
            {{ 'PROFILE.SCHEDULE' | translate }} |
            {{ selectedSchedule[translate.currentLang] }}
          </ion-card-header>
          <ion-list>
            <ion-item
              *ngFor="let item of selectedSchedule.schedule"
              class="alternate-colors"
            >
              <ion-grid>
                <ion-row>
                  <ion-col>
                    {{ item.period }}
                  </ion-col>
                  <ion-col>
                    {{ item.begin }}
                    <br />
                    {{ item.end }}
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
