<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'PROFILE-name' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-lg-5 offset-lg-1 col-md-6 col-sm-12 col-12>
        <ion-card>
          <ion-item class="dark-gray">
            <ion-row>
              <ion-col col-5 col-sm-5 col-md-4 col-lg-3>
                <ion-avatar>
                  <img [src]="personImage">
                </ion-avatar>
              </ion-col>
              <ion-col col-7 col-sm-7 col-md-8 col-lg-9 class="person-col">
                <span class="person">
                  {{ studentName }}
                  <br>
                  {{ birth }}
                  <br>
                  {{ grade }}{{ 'PROFILE-th-grade' | translate }}
                </span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item>
            <ion-icon name="person" item-left></ion-icon>
            {{ 'PROFILE-student-credit' | translate }}
            <ion-badge item-right>{{ studentCredit | currency:'USD':true:'1.2-2' }}</ion-badge>
          </ion-item>
          <ion-item>
            <ion-icon name="people" item-left></ion-icon>
            {{ 'PROFILE-family-credit' | translate }}
            <ion-badge item-right>{{ familyCredit | currency:'USD':true:'1.2-2' }}</ion-badge>
          </ion-item>
          <button ion-item (click)="goSelected({attendance: attendance})">
            <ion-icon name="alarm" color="danger" item-left></ion-icon>
            {{ 'RECORDS-attendance' | translate }}
            <ion-badge color="danger" item-right>{{ attendance.length }}</ion-badge>
          </button>
          <button ion-item (click)="goSelected({discipline: discipline})">
            <ion-icon name="checkmark-circle" color="danger" item-left></ion-icon>
            {{ 'RECORDS-discipline' | translate }}
            <ion-badge color="danger" item-right>{{ discipline.length }}</ion-badge>
          </button>
        </ion-card>

        <ion-card class="card-fab">
          <button class="fab-top-right" ion-fab (click)="toggleMissing()">
            {{ missing.length }}
          </button>
          <ion-card-header>
            {{ 'PROFILE-missing-assignments' | translate }}
          </ion-card-header>
          <ion-list>
            <ion-item
              text-wrap
              *ngFor="let item of missing"
              [@expand]="showMissing"
              class="alternate-colors"
            >
              <ion-label>
                {{ item.calc_date }}
                <br>
                <strong>{{ item.calc_class }}: </strong>
                {{ item.gra_name }}
                <br>
                <strong>{{ 'PROFILE-worth' | translate }}: </strong> {{ item.gra_points }} {{ 'PROFILE-points' | translate }}
              </ion-label>
              <ion-checkbox color="primary"></ion-checkbox>
            </ion-item>
          </ion-list>
          <button ion-item color="secondary" (click)="goGrades()">
            {{ 'PROFILE-check-grades' | translate }}
          </button>
        </ion-card>
      </ion-col>
      <ion-col col-lg-5 col-md-6 col-sm-12 col-12>
        <ion-card class="card-fab">
          <ion-fab class="fab-top-right" #fab>
            <button ion-fab><ion-icon name="swap"></ion-icon></button>
            <ion-fab-list side="left">
              <button ion-fab
                *ngFor="let item of schedules"
                (click)="toggleSchedule(item.type, fab)"
              >{{ item.text }}</button>
            </ion-fab-list>
          </ion-fab>

          <ion-card-header>
            {{ 'PROFILE-schedule' | translate }} | {{ selectedSchedule.text }}
          </ion-card-header>
          <ion-list>
            <ion-item *ngFor="let item of selectedSchedule.schedule" class="alternate-colors">
              <ion-row>
                <ion-col>
                  {{ item.period }}
                </ion-col>
                <ion-col>
                  {{ item.begin }}
                  <br>
                  {{ item.end }}
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
