<ion-view name="master-view" class="themeBackgroundColor">
  <ion-nav-title><span translate-once="GRADES-VIEW-TITLE"></span></ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left" drawer-toggle></button>
  </ion-nav-buttons>
  <confetti today="::today" birthday="::birthday"></confetti>
  <ion-content overflow-scroll="true">
    <ion-refresher on-refresh="::grades.refresh()"></ion-refresher>
    <div class="row custom-row responsive-lg">
      <div class="col custom-col col-50 col-offset-25">
        <div class="card" style="text-align:center" ng-show="grades.totalAvg === '$$.$'">
          <p class="item item-text-wrap padding"><span translate-once="GRADES-WITHHELD"></span></p>
        </div>
        <ion-item ng-show="grades.totalAvg">
          <div class="ribbon" ng-class="{'oweRibbon':(grades.totalAvg === '$$.$'), 'noRibbon':(grades.totalAvg === '??.?'), 'failRibbon':(grades.totalAvg <= 60), 'badRibbon':(grades.totalAvg < 80 && grades.totalAvg > 60), 'okRibbon':(grades.totalAvg >= 80 && grades.totalAvg < 95), 'bestRibbon':(grades.totalAvg >= 95)}">
           <button class="roundbutton grade-button"
                   ng-class="{
                     'oweGradeButton':(grades.totalAvg === '$$.$'),
                     'noGradeButton':(grades.totalAvg === '??.?'),
                     'worstGradeButton':(grades.totalAvg <= 60),
                     'badGradeButton':(grades.totalAvg < 80 && grades.totalAvg > 60),
                     'okGradeButton':(grades.totalAvg >= 80 && grades.totalAvg < 95),
                     'bestGradeButton':(grades.totalAvg >= 95)
                   }">
              {{grades.totalAvg}}
            </button>
          </div>
        </ion-item>
        <div ng-repeat="item in grades.classes" class="card ink" data-ink-color="#E6E6E6" data-ink-opacity="1">
          <ion-item href="#/app/grades/{{::item.class_period}}/{{::item.class_teacher_id}}">
            <b>[<span ng-bind="::item.class_period"></span>]   {{::item.class_name}}<span ng-show="::item.class_avg">: </span></b>
            <span class="padding-top" ng-class="{'worstGrade':(item.class_avg < 61)}">{{::item.class_avg}}</span>
          </ion-item>
        </div>
        <div class="card" style="text-align:center" ng-show="!grades.classes.length">
          <ion-item>
            <span translate-once="GRADES-NOCLASSES"></span>
          </ion-item>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
