<ion-view name="master-view" class="themeBackgroundColor">
  <ion-nav-title><span translate-once="STAFF-VIEW-TITLE"></span></ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left" drawer-toggle></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-ios-search-strong" ng-click="::staff.doShowSearchBar()"></button>
  </ion-nav-buttons>
  <div class="row custom-row responsive-lg">
    <div class="col custom-col col-50 col-offset-25">
      <div class="searchBar" ng-show="staff.showSearchBar">
        <br>
        <div class="card">
          <ion-item class="item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input id="searchBar" autofocus type="text" translate-once-placeholder="SEARCH" ng-model="staff.searchBar.bar">
            <button ng-click="::staff.emptySearchBar()" class="button-clear">
              <i class="icon ion-close"></i>
            </button>
          </ion-item>
        </div>
      </div>
    </div>
  </div>

  
  <confetti today="today" birthday="birthday"></confetti>
  <ion-content overflow-scroll="true">
    <ion-refresher on-refresh="::staff.refresh()"></ion-refresher>
    <!--searchBar spacer-->
    <div ng-show="staff.showSearchBar"><br><br><br><b></b></div>
    <div class="row custom-row responsive-lg">
      <div class="col custom-col col-50 col-offset-25">
        <div ng-repeat="item in staff.staffList|filter:staff.searchBar.bar|limitTo:staff.limit" class="card ink" data-ink-color="#E6E6E6" data-ink-opacity="1">
          <ion-item href="#/app/staff/{{::item.t_id}}">
            <!-- ng-class="{thomas:(item.calc_name == 'Gutiérrez, Thomás'), admin:(item.calc_status == 'Administration' || item.calc_status == 'Administración'), ct:(item.calc_status == 'Classroom Teacher' || item.calc_status == 'Profesor'), ta:(item.calc_status == 'Teacher Assistant' || item.calc_status == 'Asistente de Profesor'), ptt:(item.calc_status == 'Part-Time Teacher' || item.calc_status == 'Profesor Tiempo Parcial'), os:(item.calc_status == 'Office Staff' || item.calc_status == 'Oficinistas'), c:(item.calc_status == 'Coach' || item.calc_status == 'Entrenador'), sb:(item.calc_status == 'School Board' || item.calc_status == 'Junta Directiva')}"--> 
            <b>{{::item.calc_status}}: </b>{{::item.calc_name}}
          </ion-item>
        </div>
      </div>
    </div>
    <ion-infinite-scroll
      on-infinite="::staff.loadMore()"
      distance=".2%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>