<ion-view cache-view="false" name="master-view" class="themeBackgroundColor">
  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="::staffDetails.goStaff()">
      <i class="padding icon icon-left ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-title>{{::staffDetails.staffName}}</ion-nav-title>
  <confetti today="::today" birthday="::birthday"></confetti>
  <ion-content overflow-scroll="true">
    <div class="row custom-row responsive-lg">
      <div class="col custom-col col-50 col-offset-25">
        <div style="-webkit-user-select: text;" class="card">
          <ion-item class="item-divider"> {{::staffDetails.staffName}} | {{::staffDetails.staffStatus}}</ion-item>
          <ion-item class="item-text-wrap" ng-show="::staffDetails.staffPhone">
            <div class="row custom-row">
              <b class="col custom-col">
                <span translate="STAFF-PHONE"></span>:
              </b>
              <dfn class="col custom-col">
                <a href="tel:{{::staffDetails.staffPhone}}">
                  {{::staffDetails.staffPhone}}
                </a>
              </dfn>
            </div>
          </ion-item>
          <ion-item class="item-text-wrap" ng-show="::staffDetails.staffHomePhone">
            <div class="row custom-row">
              <b class="col custom-col">
                <span translate-once="STAFF-HOME-PHONE"></span>:
              </b>
              <dfn class="col custom-col">
                <a href="tel:{{::staffDetails.staffHomePhone}}">
                  {{::staffDetails.staffHomePhone}}
                </a>
              </dfn>
            </div>
          </ion-item>
          <ion-item class="item-text-wrap" ng-show="::staffDetails.staffEmail">
            <div class="row custom-row">
              <b class="col custom-col">
                <span translate-once="STAFF-EMAIL"></span>:
              </b>
              <dfn class="col custom-col">
                <a href="mailto:{{::staffDetails.staffEmail}}">
                  {{::staffDetails.staffEmail}}
                </a>
              </dfn>
            </div>
          </ion-item>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
