#teacherWrapper {
	overflow: hidden;
	height: 90px;
	width: 90px;
	position: absolute;
	top: 10px;
	left: 8px;
}
.gradeItem {
  min-height:30px !important;
    padding-left:0;
    padding-bottom:5px;
    padding-top:5px;
}
#classDateVert {
	transform: rotate(45deg);
	float:left;
	margin:auto;
	border-radius:7px;
	overflow:hidden;
}

.roundbutton {
  border-radius:100px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
}
.grade-button {
	color:white !important;
	font-size:20px;
	min-width:70px;
	min-height:70px;
	font-family:Impact;
	margin-top:-5px;
	border:0;
}

.worstGrade {
	color:red;
	font-weight:bold;
}
.badGrade {
	color:#9b59b6;
	font-weight:bold;
}
.goodGrade {
	color:#2B88C6;
	font-weight:bold;
}
.bestGrade {
	color:#2ecc71;
	font-weight:bold;
}

.ribbon {
	font-size: 16px;
	width: 150px;
	position: relative;
	color: #fff;
	text-align: center;
	margin: 2em auto;
	height:60px;
}
.ribbon:before {
  left: -2em;
  border-right-width: 1.5em !important;
  border-left-color: transparent !important;
}
.ribbon:after {
  right: -2em;
  border-left-width: 1.5em !important;
  border-right-color: transparent !important;
}
.ribbon:before, .ribbon:after {
	content: "";
	position: absolute;
	display: block;
	bottom: -.8em;
	border: 1.5em solid;
	z-index: -1;
}

.oweGradeButton {
	background-color:#1ac6ff;
	font-size:23px !important;
	font-weight:700;
	font-family: Roboto,sans-serif !important;
}
.oweRibbon {
	background: #00bfff;
}
.oweRibbon:before, .oweRibbon:after {
	border-color: #00ace6;
}

.noGradeButton {
	background-color:#ff751a;
	font-size:23px !important;
	font-weight:700;
	font-family: Roboto,sans-serif !important;
}
.noRibbon {
	background: #ff6600;
}
.noRibbon:before, .noRibbon:after {
	border-color:#e65c00;
}

.worstGradeButton {
  background-color:#e3301c !important;
}
.failRibbon {
	background: #cc2b19;
}
.failRibbon:before, .failRibbon:after {
	border-color:#b62616;
}

.bestGradeButton {
  background-color:#2ecc71 !important;
}
.bestRibbon {
	background: #2abb67;
}
.bestRibbon:before, .bestRibbon:after {
	border-color:#27ae60;
}

.okGradeButton {
  background-color:#2981bc !important;
}
.okRibbon {
	background: #2573a7;
}
.okRibbon:before, .okRibbon:after {
	border-color:#206592;
}

.badGradeButton {
  background-color:#a05fb9 !important;
}
.badRibbon {
	background: #954eb1;
}
.badRibbon:before, .badRibbon:after {
	border-color:#8646a0;
}

.alternate-colors:nth-child(odd) {
  background-color:#FFFFFF;
}
.alternate-colors:nth-child(even) {
  background-color:#F5F4F4;
}
