// colors ordered from lightest to darkest
$grade-colors: (
  none: (
    circle: #ff751a,
    ribbon: #ff6600,
    ribbonTails: #e65c00,
    circleTails: #a5480b,
  ),
  owe: (
    circle: #1ac6ff,
    ribbon: #00bfff,
    ribbonTails: #00ace6,
    circleTails: #0c627f,
  ),
  fail: (
    circle: #e3301c,
    ribbon: #cc2b19,
    ribbonTails: #b62616,
    circleTails: #72180d,
  ),
  bad: (
    circle: #a05fb9,
    ribbon: #954eb1,
    ribbonTails: #8646a0,
    circleTails: #4f2d5b,
  ),
  good: (
    circle: #2981bc,
    ribbon: #2573a7,
    ribbonTails: #206592,
    circleTails: #144260,
  ),
  best: (
    circle: #2ecc71,
    ribbon: #2abb67,
    ribbonTails: #27ae60,
    circleTails: #17753f,
  ),
);
