// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
//  Ionic CSS Variables
// https://ionicframework.com/docs/theming/color-generator
:root {
  --ion-color-primary: #448aff;
  --ion-color-primary-rgb: 68, 138, 255;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #3c79e0;
  --ion-color-primary-tint: #5796ff;

  --ion-color-secondary: #009688;
  --ion-color-secondary-rgb: 0, 150, 136;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #008478;
  --ion-color-secondary-tint: #1aa194;

  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  --ion-color-success: #41d041;
  --ion-color-success-rgb: 65, 208, 65;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #39b739;
  --ion-color-success-tint: #54d554;

  --ion-color-warning: #f5f526;
  --ion-color-warning-rgb: 245, 245, 38;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #d8d821;
  --ion-color-warning-tint: #f6f63c;

  --ion-color-danger: #f53d3d;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d83636;
  --ion-color-danger-tint: #f65050;

  --ion-color-dark: #616161;
  --ion-color-dark-rgb: 97, 97, 97;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #555555;
  --ion-color-dark-tint: #717171;

  --ion-color-medium: #b6b6b6;
  --ion-color-medium-rgb: 182, 182, 182;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #a0a0a0;
  --ion-color-medium-tint: #bdbdbd;

  --ion-color-light: #dbdbdb;
  --ion-color-light-rgb: 219, 219, 219;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #c1c1c1;
  --ion-color-light-tint: #dfdfdf;
}

// $colors: (
//   primary: #448aff,
//   secondary: #009688,
//   success: #41d041,
//   warning: #f5f526,
//   danger: #f53d3d,
//   white: white,
//   light: #f4f4f4,
//   dark: #222,
//   dark-gray: #616161,
//   gray: #b6b6b6,
//   light-gray: #dbdbdb,
// );

// no border between side-menu and content
ion-split-pane {
  --border: none !important;
}

// // navbar background
// $toolbar-background: map-get($colors, secondary);
ion-toolbar {
  --color: white;
  --background: var(--ion-color-secondary);
}

// //card background
// $card-md-background-color: map-get($colors, white);
// $card-ios-background-color: map-get($colors, white);
// $card-wp-background-color: map-get($colors, white);

// // show right arrow on clickable items
// $item-md-detail-push-show: true;
// $item-wp-detail-push-show: true;
// $item-ios-detail-push-show: true;

// $badge-font-size: 1.6rem;
