// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.dark-gray {
  background-color: map-get($colors, dark-gray);
}
.gray {
  background-color: map-get($colors, gray);
}
.light-gray {
  background-color: map-get($colors, light-gray);
}
.alternate-colors {
  &:nth-child(even) {
    background-color: #FFF
  }
  &:nth-child(odd) {
    background-color: map-get($colors, light-gray);
  }
}

@each $key, $value in $grade-colors {
  .#{$key}-grade {
    color: map-get( $value, circle );
    font-weight: bold;
  }
  .#{$key}-background {
    background-color: map-get( $value, circle );
  }
}

.menu-icon {
  margin-right: 10px;
}
.item-md, .item-ios, .item-wp {
  ion-avatar {
    img {
      height: 110px;
      width: 82.66px;
      border-radius: 100px;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    }
  }
}

.card-fab, ion-card + .card-fab {
  margin-top: 36px;
  position: relative;
  overflow: visible;
}
.fab-top-right {
  font-size: 20px;
  position: absolute;
  top: -26px;
  right: 8px;
}
.person-col {
  line-height: 110px;

  .person {
    line-height: normal;
    vertical-align: middle;
    display: inline-block;
  }
}



ion-menu {
  // menu styles
}
