<ion-view name="master-view" class="themeBackgroundColor">
  <ion-nav-title><span translate="PROFILE-VIEW-TITLE"></span></ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left" drawer-toggle></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-android-more-vertical" ng-click="::profile.doShowActionSheet()"></button>
  </ion-nav-buttons>
  <confetti today="::today" birthday="::birthday"></confetti>
  <ion-content overflow-scroll="true">
    <ion-refresher on-refresh="profile.refresh()"></ion-refresher>
    <div class="row custom-row responsive-lg">
      <div class="col custom-col col-50">
        <div class="card">
          <ion-item style="padding:0;margin:0" ng-show="(personName||studentPhoto)">
            <div class="bar-stable padding-vertical">
              <ion-item style="overflow:visible;min-height:110px" class="item-thumbnail-left">
                <span>
                  <img id="studentProfilePic" ng-src="{{::studentPhoto}}" loading-src="{{'img/placeholder-rec.jpg'}}" fallback-src="{{'img/placeholder-rec.jpg'}}"/>
                </span>
                <br>
                <h2>{{::personName}}</h2>
                <p ng-show="profile.studentBirthday"><b><span translate="PROFILE-BORN"></span> :</b> {{::profile.studentBirthday}}</p>
                <p ng-show="profile.studentGrade"><span translate="PROFILE-ENROLLED"></span> {{::profile.studentGrade}}<span translate="PROFILE-ENROLLED2"></span></p>
              </ion-item>
            </div>
          </ion-item>
          <ion-item ng-show="(profile.eagleCredits||profile.eagleCreditsFam)">
            <div ng-show="profile.eagleCredits" class="row custom-row">
              <b class="col custom-col item-text-wrap"><span translate="PROFILE-BALANCE"></span>:</b>
              <dfn class="col custom-col item-text-wrap">{{::profile.eagleCredits|currency}}</dfn>
            </div>
            <div ng-show="profile.eagleCreditsFam" class="row custom-row">
              <b class="col custom-col item-text-wrap"><span translate="PROFILE-BALANCE-FAM"></span>:</b>
              <dfn class="col custom-col item-text-wrap">{{::profile.eagleCreditsFam|currency}}</dfn>
            </div>
          </ion-item>
        </div>
        <br>
        <div class="card card-fab">
          <div class="title-fab" ng-click="::profile.doShowMissing()" >
            <ion-item ng-class="{'margin-bottom':!profile.showMissing}" class="item-divider">
              <span translate="PROFILE-MISSING"></span>
            </ion-item>
            <button id="missing-fab" class="button button-fab custom-fab accent-color">
              {{profile.missingsNumber}}
            </button>
          </div>
          <div ng-show="profile.showMissing">
            <div class="list">
              <ion-checkbox class="item-text-wrap alternate-colors" ng-repeat="item in profile.missingMissing" ng-model="item.checked" ng-checked="item.checked" ng-class="{todaysHW:(item.lsn_date == date)}">
                <span style="-webkit-user-select: text;" ng-class="{'checked':item.checked}">
                  {{::item.calc_date}}
                  <br>
                  <b>{{::item.calc_class}}:</b> {{::item.gra_name}}
                  <br>
                  <b><span translate="PROFILE-MISSING-WORTH"></span>: </b>{{::item.gra_points}} <span translate="PROFILE-MISSING-POINTS"></span>
                </span>
              </ion-checkbox>
            </div>
            <center class="padding-bottom">
              <button ng-click="::profile.goGrades()" class="button button-dark"><span translate="CHECK-UR-GRADES"></span></button>
            </center>
          </div>
        </div>
      </div>
      <div class="col custom-col col-50">
        <div class="card">
          <ion-item class="item-divider margin-bottom">
            <span translate="PROFILE-CLASS-SCHEDULE"></span><span ng-show="profile.schedule.text"> | {{profile.schedule.text}}</span>
          </ion-item>
          <ion-item ng-repeat="item in profile.schedule.schedule" class="item-text-wrap alternate-colors">
            <div class="row custom-row">
              <div class="col custom-col">
                <b>{{::item.period}}</b>
              </div>
              <div class="col custom-col">
                <div class="row custom-row">
                  {{::item.begin}}
                  <br>
                  {{::item.end}}
                </div>
              </div>
            </div>
          </ion-item>
          <ion-item ng-show="!profile.schedule.schedule.length"><span translate="PROFILE-NO-SCHEDULE"></span></ion-item>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
