<ion-view cache-view="false" name="master-view" class="themeBackgroundColor">
  <ion-nav-title>{{::eventsDetails.eventSubject}}</ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="::eventsDetails.goEvents()">
      <i class="padding icon icon-left ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <confetti today="::today" birthday="::birthday"></confetti>
  <ion-content overflow-scroll="true">
    <div class="row custom-row responsive-lg">
      <div class="col custom-col col-50 col-offset-25">
        <div style="-webkit-user-select: text;" class="card">
          <ion-item class="item-divider">
            {{::eventsDetails.eventSubject}}
          </ion-item>
          <ion-item ng-show="::eventsDetails.eventText" class="item-text-wrap">
            {{::eventsDetails.eventText}}
          </ion-item>
          <ion-item ng-show="::(eventsDetails.eventCalcStartDate||eventsDetails.eventCalcStartTime||eventsDetails.eventLocation)">
            <div class="row custom-row" ng-show="::eventsDetails.eventCalcStartDate">
              <b class="col custom-col">
                <span translate-once="EVENTS-DATE"></span>:
              </b>
              <div class="col custom-col">
                {{::eventsDetails.eventCalcStartDate}}
              </div>
            </div>
            <div class="row custom-row" ng-show="::eventsDetails.eventCalcStartTime">
              <b class="col custom-col">
                <span translate-once="EVENTS-TIME"></span>:
              </b>
              <div class="col custom-col">
                {{::eventsDetails.eventCalcStartTime}}
              </div>
            </div>
            <div class="row custom-row" ng-show="::eventsDetails.eventLocation">
              <b class="col custom-col">
                <span translate-once="EVENTS-LOCATION"></span>:
              </b>
              <div class="col custom-col">
                {{::eventsDetails.eventLocation}}
              </div>
            </div>
          </ion-item>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
