.popup-container .popup {
	min-width: 285px;
	max-width: 450px;
	width: 50% !important;
}
.popup-container .popup .popup-buttons button {
	margin-left: auto;
	max-width: 140px;
	margin-right: auto;
	padding-left: 5px;
  padding-right: 5px;
}
