<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'CAFETERIA-name' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-lg-5 offset-lg-1 col-md-6 [attr.offset-md-3]="transactions.length ? '' : null" col-sm-12>
        <ion-card>
          <ion-card-header>
            {{ 'CAFETERIA-todays-lunch' | translate }}
          </ion-card-header>
          <ion-list>
            <ion-item *ngFor="let item of menu" class="alternate-colors">
              <b>{{ item.calc_date }}:</b> {{ item.calc_menu }}
            </ion-item>
          </ion-list>
        </ion-card>

        <ion-card>
          <ion-card-header>
            {{ 'CAFETERIA-balance-history' | translate }} | type
          </ion-card-header>
          <ion-card-content>
            <canvas #chart></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-lg-5 col-md-6 col-sm-12>
        <ion-card>
          <ion-card-header>
            {{ 'CAFETERIA-transactions' | translate }}
          </ion-card-header>
          <ion-list>
            <ion-item *ngFor="let item of transactions" class="alternate-colors">
              <ion-row [hidden]="!item.credhist_method">
                <ion-col>
                  {{ 'CAFETERIA-client' | translate }}
                </ion-col>
                <ion-col>
                  {{ item.credhist_method }}
                </ion-col>
              </ion-row>
              <ion-row [hidden]="!item.credhist_description">
                <ion-col>
                  {{ 'CAFETERIA-product' | translate }}:
                </ion-col>
                <ion-col>
                  {{ item.credhist_description }}
                </ion-col>
              </ion-row>
              <ion-row [hidden]="!item.credhist_authorized">
                <ion-col>
                  {{ 'CAFETERIA-authorized-by' | translate }}:
                </ion-col>
                <ion-col>
                  {{ item.credhist_authorized }}
                </ion-col>
              </ion-row>
              <ion-row [hidden]="!item.credhist_authorized">
                <ion-col>
                  {{ 'CAFETERIA-date-time' | translate }}:
                </ion-col>
                <ion-col>
                  {{ item.credhist_datetime }}
                </ion-col>
              </ion-row>
              <ion-row [hidden]="!item.credhist_debit">
                <ion-col>
                  {{ 'CAFETERIA-price' | translate }}:
                </ion-col>
                <ion-col>
                  {{ item.credhist_debit }}
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
