<ion-header>
  <ion-navbar>
    <button ion-button
            menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'CAFETERIA.NAME' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row [hidden]="!transactions.length">
      <ion-col col-lg-10
               offset-lg-1>
        <ion-card>
          <ion-card-header>
            {{ 'CAFETERIA.BALANCE_HISTORY' | translate }}
          </ion-card-header>
          <ion-card-content>
            <canvas #chart></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-lg-5
               offset-lg-1
               col-md-6
               [attr.offset-md-3]="transactions.length ? null : '' "
               col-sm-12
               col-12>
        <ion-card>
          <ion-card-header>
            {{ 'CAFETERIA.TODAYS_LUNCH' | translate }}
          </ion-card-header>
          <ion-list>
            <ion-item *ngFor="let item of menu"
                      class="alternate-colors">
              <b>{{ item.calc_date }}:</b> {{ item.calc_menu }}
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-col>
      <ion-col col-lg-5
               col-md-6
               col-sm-12
               col-12
               [hidden]="!transactions.length">
        <ion-card>
          <ion-card-header>
            {{ 'CAFETERIA.TRANSACTIONS' | translate }}
          </ion-card-header>
          <ion-list>
            <ion-item *ngFor="let item of transactions"
                      class="alternate-colors">
              <ion-row [hidden]="!item.credhist_method">
                <b ion-col>
                  {{ 'CAFETERIA.CLIENT' | translate }}
                </b>
                <ion-col>
                  {{ item.credhist_method }}
                </ion-col>
              </ion-row>
              <ion-row [hidden]="!item.credhist_description">
                <b ion-col>
                  {{ 'CAFETERIA.PRODUCT' | translate }}:
                </b>
                <ion-col>
                  {{ item.credhist_description }}
                </ion-col>
              </ion-row>
              <ion-row [hidden]="!item.credhist_authorized">
                <b ion-col>
                  {{ 'CAFETERIA.AUTHORIZED_BY' | translate }}:
                </b>
                <ion-col>
                  {{ item.credhist_authorized }}
                </ion-col>
              </ion-row>
              <ion-row [hidden]="!item.credhist_authorized">
                <b ion-col>
                  {{ 'CAFETERIA.DATE_TIME' | translate }}:
                </b>
                <ion-col>
                  {{ item.credhist_datetime }}
                </ion-col>
              </ion-row>
              <ion-row [hidden]="!item.credhist_debit">
                <b ion-col>
                  {{ 'CAFETERIA.PRICE' | translate }}:
                </b>
                <ion-col>
                  {{ item.credhist_debit | currency:'USD':'symbol':'1.2-2' }}
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
