<ion-view cache-view="false" hide-nav-bar="true"><!--hide-nav-bar = true solved the addition of .has-header to ion-content-->
  <ion-side-menus>
    <ion-side-menu-content>
      <ion-nav-bar class="default-primary-color"></ion-nav-bar>

      <ion-nav-view name="master-view"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu expose-aside-when="large" width="250">
      <ion-content scrollbar-y="false" class="stable-bg">
        <div id="customSidemenuHeaderBar" class="themeSidemenuHeaderBar">
          <figure class="padding-top" style="padding-left:24px">
            <div class="studentmenuphoto roundbutton">
              <img id="studentMenuPic" style="width:100%" ng-src="{{::studentPhoto}}" loading-src="{{::'img/placeholder-square.jpg'}}" fallback-src="{{::'img/placeholder-square.jpg'}}"/>
            </div>
          </figure>
          <ion-item id="name" class="sidemenuHeaderBarItem">
            {{::personName}}
          </ion-item>
          <ion-item id="email" class="sidemenuHeaderBarItem">
            {{::userInputsName}}@nca.edu.ni
          </ion-item>
        </div>
        <ion-list>
          <ion-item menu-close href="#/app/profile"class="button-flat sidemenuItem icon-item-left">
            <i class="sidemenuItemI icon" ng-class="{'ion-ios-person':(themeCss == 'dark' || themeCss === 'mild'), 'ion-ios-person-outline':(themeCss == 'light')}"></i>
            <span translate="PROFILE-VIEW-TITLE"></span>
          </ion-item>
          <ion-item menu-close href="#/app/homework" class="button-flat sidemenuItem icon-item-left">
            <i class="sidemenuItemI icon" ng-class="{'ion-ios-bookmarks':(themeCss == 'dark' || themeCss === 'mild'), 'ion-ios-bookmarks-outline':(themeCss == 'light')}"></i>
            <span translate="HOMEWORK-VIEW-TITLE"></span>
          </ion-item>
          <ion-item menu-close href="#/app/grades" class="button-flat sidemenuItem icon-item-left">
            <i class="sidemenuItemI icon"
               ng-class="{'ion-ios-checkmark':(themeCss == 'dark' || themeCss === 'mild'), 'ion-ios-checkmark-outline':(themeCss == 'light')}"></i>
            <span translate="GRADES-VIEW-TITLE"></span>
          </ion-item>
          <ion-item menu-close href="#/app/events" class="button-flat sidemenuItem icon-item-left">
            <i class="sidemenuItemI icon"
               ng-class="{'ion-ios-calendar':(themeCss == 'dark' || themeCss === 'mild'), 'ion-ios-calendar-outline':(themeCss == 'light')}"></i>
            <span translate="EVENTS-VIEW-TITLE"></span>
          </ion-item>
          <ion-item menu-close href="#/app/cafeteria" class="button-flat sidemenuItem icon-item-left">
            <i class="sidemenuItemI icon"
               ng-class="{'ion-social-usd':(themeCss == 'dark' || themeCss === 'mild'), 'ion-social-usd-outline':(themeCss == 'light')}"></i>
            <span translate="CAFETERIA-VIEW-TITLE"></span>
          </ion-item>
          <ion-item menu-close href="#/app/staff" class="button-flat sidemenuItem icon-item-left">
            <i class="sidemenuItemI icon"
               ng-class="{'ion-ios-people':(themeCss == 'dark' || themeCss === 'mild'), 'ion-ios-people-outline':(themeCss == 'light')}"></i>
            <span translate="STAFF-VIEW-TITLE"></span>
          </ion-item>
          <ion-item menu-close href="#/app/settings" class="button-flat sidemenuItem icon-item-left">
            <i class="sidemenuItemI icon"
               ng-class="{'ion-ios-toggle':(themeCss == 'dark' || themeCss === 'mild'), 'ion-ios-toggle-outline':(themeCss == 'light')}"></i>
            <span translate="SETTINGS-VIEW-TITLE"></span>
          </ion-item>
          <ion-item menu-close href="#/login" ng-click="logout()" class="button-flat sidemenuItem icon-item-left">
            <i class="sidemenuItemI icon ion-log-out"></i>
            <span translate="LOGOUT"></span>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>
</ion-view>
